<!DOCTYPE html>
<html>

<head>
    <title>Search For Books</title>
    <link rel="stylesheet" type="text/css" href="/styles/base.css">
</head>

<body>
    <header>
        <%- include('../../layout/header') %>
        <h2>Search by Title or Author</h2>
    </header>
    <main>
        <form action="/searches" method="post">
            <fieldset>
                <input class="inputQuery" type="text" name="search" placeholder="Enter Title or Author" required>
            </fieldset>
            <fieldset>
                <div class="radioDiv">Title<input type="radio" name="search" value="title" required></div>

                <div class="radioDiv">Author<input type="radio" name="search" value="author" required></div>
            </fieldset>
            <button class="fullWidthButton" type="submit">Search GBooks API</button>
        </form>
    </main>
</body>

</html>