<!DOCTYPE HTML>
<html>
    <head>
        <title>Book App</title>
        <link rel="stylesheet" type="text/css" href="/styles/reset.css">
        <link rel="stylesheet" type="text/css" href="/styles/base.css">
        <link rel="stylesheet" type="text/css" href="/styles/layout.css">
        <link rel="stylesheet" type="text/css" href="/styles/modules.css">
    </head>
    <body>
        <ul>
            <% result.forEach(element => { %>
                <li> <h2>title:<%= element.title %></h2> 
                    <h2>Author: <%= element.author %></h2>
                    <img src= <% element.image_url%> >
                    <p><% element.description %> </p>
                    <p><% element.isbn %> </p>
                </li>
           <% }) %>
        </ul>

        
    </body>
</html>