@import 'reset.css';
@import 'layout.css';
@import 'modules.css';

h1 {
    font: 24pt Arial;
    color: white;
}

h2 {
    color: white;
    background: rgb(68, 5, 77);
    padding: 20px;
    text-align: center;
    font: 20pt Arial;
}

main {
   margin: auto;
   text-align: center;
}

body {
    background: rgb(211, 179, 184);
    max-width: 960px;
    margin: auto;
    padding: 20px;
}

a{
    display: block;
    padding: 20px;
    color: white;
}