.inputQuery {
    border: none;
    margin: 20px 0px;
    padding: 5px;
    color: black;
    font: 16pt Arial;
}

.radioDiv {
    background-color: rgb(255, 230, 234);
    padding: 10px;
    margin: 20px;
    text-align: left;
    font: 16pt Arial;
}

button {
    background-color:  rgb(69, 1, 75);
    color:white;
    padding: 10px;
    margin: 20px;
    width: 100%;
    font: 20pt;
    font: 16pt Arial;
    width: 20vw;
}

.bookResult {
    background-color: rgb(255, 230, 234);
    margin: 40px;
    padding: 40px;
}

.bookTitle{
    color: white;
    font: 18pt Arial ;
    padding: 5px;
    text-shadow: 2px 2px  rgb(69, 1, 75);
}

.bookDetailedInfo{
    color: grey;
    font: italic 12pt Arial;
    padding: 5px;
    padding-bottom: 10px;
}

.bookDescription{
    color: grey;
    font: 12pt Arial;
    text-align: left;
    padding: 5px;
}

#navLinks {
    color: white;
    padding: 5px;
    text-align: center;
    font: 16pt Arial;
    background-color: rebeccapurple;
    
}
