.inputQuery {
    border: none;
    margin: 20px 0px;
    padding: 5px;
    color: black;
    width: 100%;
    font: 16pt Arial;
}

.radioDiv {
    width: 100%;
    background-color: rgb(255, 230, 234);
    padding: 10px;
    margin: 20px;
    text-align: left;
    font: 16pt Arial;
}

button {
    background-color: rebeccapurple;
    color:white;
    padding: 10px;
    margin: 20px;
    width: 100%;
    font: 20pt;
    font: 16pt Arial;
}

.smallButton {
    width: 20vw;
}

.bookResult {
    background-color: rgb(255, 230, 234);
    width: 90%;
    margin: 40px;
    padding: 40px;
}

.bookTitle{
    color: white;
    font: 18pt Arial ;
    padding: 5px;
    text-shadow: 2px 2px darkslategrey;
}

.bookDetailedInfo{
    color: grey;
    font: italic 12pt Arial;
    padding: 5px;
    padding-bottom: 10px;
}

.bookDescription{
    color: grey;
    font: 12pt Arial;
    text-align: left;
    padding: 5px;
}